body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #008080;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* snowflakes */

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        transform: translateY(100vh);
    }
}

@keyframes diagonal-fall {
    0% {
        opacity: 0;
        transform: translate(0, 0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
        transform: translate(10vw, 100vh);
    }
}






header {

    color: #fff;
    padding: 1px;
}

/* Blinking Text Animation */
@keyframes blink-colors {
    0% { color: red; }
    33% { color: green; }
    66% { color: yellow; }
    100% { color: red; }
}

.blinking {
    font-size: 3rem;
    font-weight: bold;
    animation: blink-colors 1s infinite;
}


main {
    margin: 20px;
}

.mangarol{
    font-size: 25px;
    color: white;
}

.mabuot{
    color: white;
    font-size: 15px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#play-button {
    background-color: #4caf50;
    color: white;
}

#donate-button {
    background-color: #ff9800;
    color: white;
}

#pass-button {
    background-color: #9e9e9e;
    color: white;
}

footer {
    color: white;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.no-underline{
    text-decoration: none;
    color: #b3ff00;
    font-weight: 500;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #000080;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.modal-content .note{
    color: white;
}

.modal-content img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}


/* countdownnnnnn */
.countdown {
    background-color: #800000;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#time-remaining {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
